@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');  

*{
    font-family: 'Crimson Text', serif;
    font-size: medium;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.content {
    background-image: url(../img/booking-page.jpg);
    height: calc(70vh - 80px);

}

.introduce{
    display: flex;
    justify-content: center;
  }

  .introduce1{
    font-family: 'Comforter Brush', cursive;
    margin-top: 20px;
    height: 100px;
    line-height: -20%;
    font-size: 80px;
    position: absolute;
    opacity: 0.4;
    color: #FF6A88;
  }
  
  .introduce2{
    font-size: 64px;
    margin-top: 55px;
  }
  
.introduce3{
  width: 50%;
  font-size: 18px;
  margin-left: 24%;
  text-align: center;
  
}
.location{
  height: fit-content;
  text-align: left;
}
/* .location .card-body{
  margin: 0;
  padding: 0;
} */
.location .card-body h5,p{
  margin: 0;
  padding: 0;
}
/* timme */
.time label {
  width: 80px;
  margin: 0px;
  padding: 0;
  height: 40px;
  border: 1px solid #FF6A88;
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control{
  
}

.time input:checked + label {
  background-color: red;
  color: white;
}
.time input{
  display: none;
}

.time label{
  /* display: none; */
}


