@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
*{
    font-family: 'Crimson Text', serif;
    font-size: medium;
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFD7E8;
}

.row1{
    /* margin-left: 10%; */
   
}

.card{
    flex-wrap: wrap;
    text-align: center;
    height: 500px;
    line-height: 1.5em ;
    transition: 0.5s;
    box-shadow: 1px 0px 1px #e0ffff ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .card:hover{
  border: 2px solid #FF6A88;
  
  }
  .card-body{
    background-size: cover;
  
  }
  .card img {
    border-radius: 50%;
  }
  /* .card img:hover{
    font-size: 30px;
  } */
  .card h3{
    margin-top: 10px;
    font-size: 25px;
    color: #FF6A88;
    font-weight: bold;
    font-family:sans-serif;
  }
  .card-p a{
  color: black;
  text-decoration: none;
  transition: 0.5s;
  }
  .card-p a:hover{
    color: #FF6A88;
  }

.button{
    margin-left: 20%;
}

.button button{
    width: 10%;
}

.three-col{
    margin-left: 10%;
    gap: 30px;
    
}

.introduce-combo {
    margin-top: 15px;
    /* background-color: blueviolet; */
    text-align: center;
}

.three-combo{

    width: max-content;
    border: 1px solid;
    border-radius: 20px;
}

.three-combo h3{
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

.cost {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.booknow{
    margin-bottom: 20px;
    text-align: center;

}