* CSS cho modal */ 
.modal {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 120%;
    width: 200%; */
    background-color: rgba(255, 239, 239, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* margin-left: 80px; */
    display: block;
    
}
/* .modal{
    margin-left: 10% !important; */

/* } */
#myModal {
    
    margin-left: 0%;
    margin-top: 3%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(224, 218, 218, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
    
}



/* #modal-content {
    background-color: #b43535;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

} */
.modal-content {
    background-color: #fbfafa !important;
    width: 40% !important;
   
    margin-top: 13%;
    margin-left: 29%;
    border-radius: 20px !important;
   
}

.close {
    color: #6c0b0b;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 1000px;
   
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.b-2{
    width: 80px;
    margin-left: 43%;
    background:#8a7f82;
    border: none;
    color: white;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 40px !important;
}
.inp{
    text-align: center;
        width: 70%;
        margin-left: 85px;
        border-radius: 10px;
        margin-top: 10px;
        color: #7d7c7c;
}
h4{
    text-align: center;
    font-weight: bold;
}
.inp1{
    width: 55%;
    margin-left: 20%;
    margin-top: 20px;
    color: #a24444;
    border-radius: 10px;
    text-align: center;
   justify-content: center;
   margin-left: 120px;

}