/* ảnh và các input button */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');  
.inner-page section{
    width: 100vw;
    height: 30vw;
    background-image: url("../img/gift-cards-page\ 2\ \(1\).png");
    font-family: 'Poppins', sans-serif;

}
.inner-item h2{
    justify-content: center;
    align-items: center;
    padding-left: 35%;
    color: hotpink;
}
h2{
    padding-top: 10%;
    text-align: center;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #FF99AC 0%,
    #FF6A88 29%,
    #FF9A8B 67%,
    #FBAB7E 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 60px;
      font-weight: bold;
}
.row-header{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
   
}
.hero {
    font-weight: 50px;
    justify-content: center;
    gap: 10px;
}
/* chỉnh sửa input và button */
.form{
  padding-left: 500px;
}
input{
  width: 450px;
}
.input-group{
 padding-left: 500px;
}
input#searchInput {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 6px 12px;
  background-color: #f18cd9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* icon của các tên massage */
.container2{
    display: flex;
    justify-content:space-around;
}
.container2 a{
    display: flex;
    text-decoration: none;
    margin-top: 18px;
    color: black;
}
.list-service{
    margin-top: 10px;
}
.list-service a:hover{
    color: hotpink;
}

.container3-service{
  border-top: 
  1px solid #999;
  border-top-width: 2px;
 border-top-style: solid;
 border-top-color: rgb(153, 153, 153);
}

.container3-service h4{
    padding-left: 530px;
    margin-top: 80px;
    font-size: larger;
}
h4{
  top: 50px;
  color: #070707;
  font-weight: 10px;
}
.container-ListSevice h4{
  padding-left: 570px;
}
.service-item{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
}
.product{
  display: flex;
  gap: 30px;
  padding-bottom: 50px;
}
.serviceItem{
  display: flex;
  /* gap: 50px; */
  padding-right: 100px;
}
.div-serviceItem{
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  /* border: 0.5px solid; */
  width: 300px;
  box-shadow: #c21717;
}
.div-serviceItem img{
  /* padding-left: 10px; */
    display: flex;
    border-radius: 30px;
    height: 300px;
    width: 300px;
}
.div-ListserviceItem{
  width: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 1.5em;
  transition: 0.5s;
  box-shadow: 1px 0px 1px #e0ffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.div-ListserviceItem:hover{
  transform: scale(1.1);
}
.div-serviceItem:hover{
  transform: scale(1.1);
}
.div-ListserviceItem img{
  height:200px ;
  width: 250px;
  border-radius: 10px;
}
.div-ListserviceItem a{
  text-decoration: none;
  display: block;
  justify-content: center;
  color: #070707;
  font-size: 14px;
  font-weight: 400;
}
.div-serviceItem a{
    text-decoration: none;
    display: block;
    justify-content: center;
    color: #070707;
    font-size: 14px;
    font-weight: 400;
  
}
#price{
    color: #F60606;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header li{
  list-style: none;
}
.header a{
  list-style: none;
  text-decoration: none;
}
nav{
  background-color: white;
  height: 80px;
  width: 100%;
}
nav ul{
  float:right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navbar {
  background-color: white;
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.5s;
}
nav ul li a:hover{
  font-size: 17px;
  color: #FF6A88;
}


.logo {
  cursor: pointer;
  padding-left: 10px;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


.footer {
  background-color: #e3e0e0;
  width: 100vw;
  height: 35vw;
  padding-top: 20px;
}
.footer h4 {
  font-size: 20px;
  font-weight: bold;
}
.footer h4, p {
  padding-top: 20px;
}
.footer p {
  color: #686161;
  font-size: 15px;
}
.icon-footer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  gap:10px
}
.icon-footer label {
  font-size: 10px;
}
/* Add the following code at the end of the CSS file */

/* Responsive Styles */

@media screen and (max-width: 736px) {

  /* Adjust the header and navigation */
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .checkbtn {
    display: block !important;
    margin-right: 10px;
  }
  .checkbtn {
    display: block;
    margin-right: 10px;
  }
  
  nav ul {
    display: none;
  }
  
  nav ul.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
  }
  


  nav ul li {
    line-height: 40px;
    margin: 5px 0;
  }

  nav ul li a {
    padding: 5px 10px;
    font-size: 14px;
  }

  /* Adjust the hero section */
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .inner-item h2{
    padding-left: 120px;
  }
  .hero input{
    width: 200px;
  }
  .hero button{
    width: 50px;
    font-size: small;
  }

  .hero h1 {
    font-size: 24px;
  }
  .list-img{
    height: 40px;
    width: 20px;
  }
  .list-service a{
    font-size: 15px;
  }
  /* Adjust the service items */
  .service-item {
    flex-direction: column;
    align-items: center;
  }
  .container3-service h6{
    padding-left: 70px;
  }
  .container .container-ListSevice h6{
    padding-left: 110px;
  }
  .container-ListSevice{
    padding-bottom: 30px;
  }
  .div-serviceItem,
  .div-ListserviceItem {
    width: auto;
    margin-bottom: 20px;
  }

  .div-serviceItem img,
  .div-ListserviceItem img {
    height: auto;
    width: 100%;
  }
}

/*@media screen and (max-width: 1024px) {
  
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .checkbtn {
    display: block !important;
    margin-right: 10px;
  }
  .checkbtn {
    display: block;
    margin-right: 10px;
  }
  
  nav ul {
    display: none;
  }
  
  nav ul.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
  }
  


  nav ul li {
    line-height: 40px;
    margin: 5px 0;
  }

  nav ul li a {
    padding: 5px 10px;
    font-size: 14px;
  }

  /* Adjust the hero section */
  /*.hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .inner-item h2{
    padding-left: 120px;
  }
  .hero input{
    width: 400px;
  }
  .hero button{
    width: 50px;
  }

  .hero h1 {
    font-size: 24px;
  }

  /* Adjust the service items */
/*.service-item {
    flex-direction: column;
    align-items: center;
  }
  .container3-service h6{
    padding-left: 70px;
  }
  .container .container-ListSevice h6{
    padding-left: 110px;
  }
  .div-serviceItem,
  .div-ListserviceItem {
    width: auto;
    margin-bottom: 20px;
  }

  .div-serviceItem img,
  .div-ListserviceItem img {
    height: auto;
    width: 100%;
  }

